* {
  box-sizing: border-box;
}

div {
  border: 1px solid #00A;
}

/* define areas */
/*@formatter:off*/
.main-header {grid-area: header;}
.content {grid-area: content;}
.sidebar {grid-area: sidebar;}
.main-footer {grid-area: footer;}

.content .h3 {grid-area: content-header;}
.content .primary {grid-area: content-primary;}
.content aside {grid-area: content-secondary}

.wrapper {
  display: grid;
  grid-template-rows: auto;
}

@media only screen and (min-width: 480px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-areas: "header" "content" "sidebar" "footer";
    grid-column-gap: 20px;
  }

  .content {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "content-header" "content-primary" "content-secondary";
  }
}

@media only screen and (min-width: 960px) {
/*@formatter:on*/
  .wrapper {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #AAA;

    grid-template-columns: 9fr 3fr;
    /*@formatter:off*/
    grid-template-areas:
        "header header"
        "content sidebar"
        "footer footer";|
    grid-column-gap: 30px;
    /*@formatter:on*/
  }

  .content {
    display: grid;
    grid-template-columns: 9fr 10px 3fr;
    /*@formatter:off*/
     grid-template-areas:
      "content-header content-header content-header"
      "content-primary . content-secondary";
  /*@formatter:on*/
  }
}