<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>AngularJS translation demo</title>

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-translate/dist/angular-translate.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div ng-controller="Ctrl">
        <h2 id="{{ 'HEADLINE' | translate }}">{{ 'HEADLINE' | translate }}</h2>
        <p>{{ 'PARAGRAPH' | translate }}</p>
        <p>{{ 'NAMESPACE.PARAGRAPH' | translate }}</p>
        <div style="background-color: yellowgreen">
            <h2 id="{{headline}}">{{headline}}</h2>
            <p>{{paragraph}}</p>
            <p>{{namespaced_paragraph}}</p>
            <a href="#en" onclick="location.reload();">To English</a> &nbsp;&nbsp;&nbsp;&nbsp;  <a href="#vi"  onclick="location.reload();">To Vietnamese</a>
        </div>
        <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
        <button ng-click="changeLanguage('vi')" translate="BUTTON_LANG_VI"></button>
        

    </div>
</body>

</html>